# HW1
目標：利用每日天氣觀測樣本做訓練，給入當天的觀測數據，希望能預測隔天會不會降雨

| Attribute | Name |
| -------- | -------- |
|Attribute1 |當天日期|
|Attribute2 |氣象站的地區|
|Attribute3 |最低溫度(攝氏)|
|Attribute4 |最高溫度(攝氏)|
|Attribute5 |降雨量 (單位: 毫米)|
|Attribute6 |蒸發量|
|Attribute7 |當天陽光出現的時數|
|Attribute8 |最強陣風方向|
|Attrubute9 |最強陣風速度 (單位: 公里/小時)|
|Attribute10| 早上九點的風向|
|Attribute11| 下午三點的風向|
|Attribute12| 早上九點前的平均風速 (單位: 公里/小時)|
|Attribute13| 下午三點前的平均風速 (單位: 公里/小時)|
|Attribute14| 早上九點的相對濕度|
|Attribute15| 下午三點的相對濕度|
|Attribute16| 早上九點前的平均大氣壓(hpa)|
|Attribute17| 下午三點前的平均大氣壓(hpa)|
|Attribute18| 早上九點，雲層遮蓋天空的比例 (0 完全晴朗無雲 - 8 完全多雲)|
|Attribute19| 下午三點，雲層遮蓋天空的比例 (0 完全晴朗無雲 - 8 完全多雲)|
|Attribute20| 早上九點的溫度|
|Attribute21| 下午三點的溫度|
|Attribute22| 今天有沒有下雨|
|Attribute23| 明天會不會下雨(Label)|

## Import library

In [1]:
import pandas as pd
import numpy as np

## Read data files

In [2]:
Train = pd.read_csv('train.csv')
Test = pd.read_csv('test.csv')
Train

,Attribute1,Attribute2,Attribute3,Attribute4,Attribute5,Attribute6,Attribute7,Attribute8,Attribute9,Attribute10,...,Attribute14,Attribute15,Attribute16,Attribute17,Attribute18,Attribute19,Attribute20,Attribute21,Attribute22,Attribute23
0,2008-12-01,2,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,2,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-08,2,7.7,26.7,0.0,NaN,NaN,W,35.0,SSE,...,48.0,19.0,1013.4,1010.1,NaN,NaN,16.3,25.5,No,No
3,2008-12-21,2,11.5,29.3,0.0,NaN,NaN,S,24.0,SE,...,56.0,28.0,1019.3,1014.8,NaN,NaN,19.1,27.3,No,No
4,2008-12-22,2,17.1,33.0,0.0,NaN,NaN,NE,43.0,NE,...,38.0,28.0,1013.6,1008.1,NaN,1.0,24.5,31.6,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17092,2017-04-10,41,12.4,27.0,0.0,NaN,NaN,E,48.0,ESE,...,48.0,24.0,1021.6,1016.9,NaN,NaN,17.4,26.4,No,No
17093,2017-05-24,41,10.1,26.7,0.0,NaN,NaN,E,41.0,ESE,...,55.0,29.0,1022.6,1018.6,NaN,NaN,14.8,25.7,No,No
17094,2017-06-01,41,5.6,19.4,0.0,NaN,NaN,E,43.0,E,...,61.0,22.0,1029.6,1027.1,NaN,NaN,9.7,18.3,No,No
17095,2017-06-15,41,2.6,22.5,0.0,NaN,NaN,S,19.0,S,...,59.0,24.0,1025.0,1021.4,NaN,NaN,8.8,22.1,No,No
17096,2017-06-22,41,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No

In [3]:
Test

,Attribute1,Attribute2,Attribute3,Attribute4,Attribute5,Attribute6,Attribute7,Attribute8,Attribute9,Attribute10,...,Attribute13,Attribute14,Attribute15,Attribute16,Attribute17,Attribute18,Attribute19,Attribute20,Attribute21,Attribute22
0,2009-01-26,10,23.8,39.9,0.0,12.6,13.2,S,31.0,ENE,...,7.0,50.0,16.0,1014.6,1012.1,0.0,1.0,28.7,38.7,No
1,2009-06-26,10,7.8,12.2,0.2,2.2,0.1,NNE,28.0,NE,...,17.0,81.0,95.0,1010.3,1006.6,7.0,7.0,9.3,11.6,No
2,2009-11-25,10,19.4,36.7,0.0,6.4,12.0,E,54.0,NE,...,19.0,44.0,22.0,1017.4,1013.0,1.0,6.0,27.5,34.8,No
3,2010-05-04,10,14.8,28.7,0.0,5.2,9.7,NNW,41.0,N,...,15.0,48.0,24.0,1019.9,1014.8,2.0,4.0,20.7,27.1,No
4,2010-06-02,10,11.7,16.1,1.8,0.6,0.5,SE,20.0,SE,...,7.0,79.0,75.0,1019.2,1018.3,7.0,7.0,13.3,16.0,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
819,2016-03-20,13,24.1,33.5,8.0,3.8,9.4,ESE,59.0,S,...,19.0,87.0,77.0,1009.8,1007.2,7.0,6.0,28.0,29.8,Yes
820,2016-09-20,13,23.8,32.8,0.6,3.0,9.3,NNW,30.0,NNE,...,20.0,76.0,52.0,1012.0,1009.1,3.0,3.0,28.6,32.1,No
821,2016-10-10,13,24.4,33.6,0.0,7.2,10.5,NW,31.0,ENE,...,19.0,63.0,58.0,1013.2,1008.9,1.0,2.0,30.1,31.6,No
822,2017-01-18,13,27.1,32.8,0.2,6.8,6.0,N,37.0,NW,...,22.0,68.0,74.0,1010.8,1007.8,4.0,7.0,30.4,29.4,No
823,2017-04-16,13,25.0,33.1,0.0,4.4,9.8,NE,35.0,ENE,...,20.0,77.0,51.0,1011.3,1008.0,6.0,3.0,28.2,32.6,No

## Take only month in Attribute 1

In [4]:
# train
Train['Attribute1']= pd.to_datetime(Train['Attribute1']) 
Train['Attribute1'] = pd.DatetimeIndex(Train['Attribute1']).month

# test
Test['Attribute1']= pd.to_datetime(Test['Attribute1']) 
Test['Attribute1'] = pd.DatetimeIndex(Test['Attribute1']).month

## Drop Attribute 67

In [5]:
# train
# train = train.drop(['Attribute6','Attribute7'],axis = 1)
# test
# test = test.drop(['Attribute6','Attribute7'],axis = 1)

## Data preprocessing

### 處理NAN

In [6]:
# 訓練data
Train = Train.dropna()
# 測試data
Test = Test.dropna()

### 處理字串欄位
字串轉數字

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
##.  Train Data ##
# 字串轉數字
gle = LabelEncoder()
Train['Attribute22'] = gle.fit_transform( Train['Attribute22'] )
Train['Attribute23'] = gle.fit_transform( Train['Attribute23'] )

## Test Data  ##
# 字串轉數字
Test['Attribute22'] = gle.fit_transform( Test['Attribute22'] )

# One-hot
Train = pd.get_dummies(Train)
Test = pd.get_dummies(Test)
Train

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,Attribute1,Attribute2,Attribute3,Attribute4,Attribute5,Attribute6,Attribute7,Attribute9,Attribute12,Attribute13,...,Attribute11_NNW,Attribute11_NW,Attribute11_S,Attribute11_SE,Attribute11_SSE,Attribute11_SSW,Attribute11_SW,Attribute11_W,Attribute11_WNW,Attribute11_WSW
711,1,10,19.4,37.6,0.0,10.8,10.6,46.0,30.0,15.0,...,1,0,0,0,0,0,0,0,0,0
712,1,10,24.2,41.0,0.0,11.2,8.4,35.0,17.0,13.0,...,0,0,0,0,0,0,0,0,1,0
713,1,10,23.3,34.0,0.0,9.8,12.6,41.0,17.0,19.0,...,0,0,0,0,1,0,0,0,0,0
714,1,10,25.2,40.5,0.0,16.4,10.3,44.0,13.0,22.0,...,0,0,0,0,0,0,1,0,0,0
715,1,10,22.1,34.7,8.6,8.6,12.4,50.0,11.0,15.0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16700,4,13,21.6,32.1,0.0,6.6,10.6,22.0,19.0,6.0,...,0,0,0,1,0,0,0,0,0,0
16701,5,13,22.5,34.2,0.0,9.4,10.8,46.0,17.0,22.0,...,0,0,0,0,0,0,0,0,0,0
16702,5,13,22.4,32.2,0.0,8.0,6.3,39.0,20.0,15.0,...,0,0,0,0,0,0,0,0,0,0
16703,6,13,21.6,32.0,0.0,9.6,10.7,43.0,24.0,30.0,...,0,0,0,0,0,0,0,0,0,0
16704,6,13,20.7,32.8,0.0,5.6,11.0,33.0,17.0,11.0,...,0,0,0,0,0,0,0,1,0,0

### Balance Data

In [9]:
from sklearn.utils import resample

df_majority = Train[Train.Attribute23==0]
df_minority = Train[Train.Attribute23==1]

print(len(df_majority), len(df_minority))
print(Train['Attribute23'].value_counts())

# Downsample majority class
df_majority_downsampled = resample(df_majority, 
                                 replace=False,    # sample without replacement
                                 n_samples=1225,     # to match minority class
                                 random_state=5659) # reproducible results
 
# Combine minority class with downsampled majority class
Train = pd.concat([df_majority_downsampled, df_minority])

# Display new class counts
print(Train['Attribute23'].value_counts())

5659 1225
0    5659
1    1225
Name: Attribute23, dtype: int64
1    1225
0    1225
Name: Attribute23, dtype: int64

### 打散資料

In [10]:
from sklearn.utils import shuffle
Train = shuffle(Train)

### 切割 Data 與 Target

In [11]:
Target = pd.DataFrame(Train['Attribute23'])
Data = Train.drop(columns = ['Attribute23'],axis = 0)

In [12]:
Test

,Attribute1,Attribute2,Attribute3,Attribute4,Attribute5,Attribute6,Attribute7,Attribute9,Attribute12,Attribute13,...,Attribute11_NNW,Attribute11_NW,Attribute11_S,Attribute11_SE,Attribute11_SSE,Attribute11_SSW,Attribute11_SW,Attribute11_W,Attribute11_WNW,Attribute11_WSW
0,1,10,23.8,39.9,0.0,12.6,13.2,31.0,17.0,7.0,...,0,0,0,0,0,0,0,0,0,0
1,6,10,7.8,12.2,0.2,2.2,0.1,28.0,6.0,17.0,...,0,0,0,0,0,0,0,0,0,0
2,11,10,19.4,36.7,0.0,6.4,12.0,54.0,26.0,19.0,...,0,0,0,0,0,0,0,0,0,0
3,5,10,14.8,28.7,0.0,5.2,9.7,41.0,19.0,15.0,...,1,0,0,0,0,0,0,0,0,0
4,6,10,11.7,16.1,1.8,0.6,0.5,20.0,7.0,7.0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
819,3,13,24.1,33.5,8.0,3.8,9.4,59.0,9.0,19.0,...,0,0,0,0,0,0,0,0,1,0
820,9,13,23.8,32.8,0.6,3.0,9.3,30.0,9.0,20.0,...,0,0,0,0,0,0,0,0,0,0
821,10,13,24.4,33.6,0.0,7.2,10.5,31.0,11.0,19.0,...,1,0,0,0,0,0,0,0,0,0
822,1,13,27.1,32.8,0.2,6.8,6.0,37.0,9.0,22.0,...,1,0,0,0,0,0,0,0,0,0
823,4,13,25.0,33.1,0.0,4.4,9.8,35.0,9.0,20.0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
Data

,Attribute1,Attribute2,Attribute3,Attribute4,Attribute5,Attribute6,Attribute7,Attribute9,Attribute12,Attribute13,...,Attribute11_NNW,Attribute11_NW,Attribute11_S,Attribute11_SE,Attribute11_SSE,Attribute11_SSW,Attribute11_SW,Attribute11_W,Attribute11_WNW,Attribute11_WSW
13914,6,32,10.8,19.8,0.0,3.4,6.2,41.0,28.0,17.0,...,0,0,0,0,0,0,0,0,0,0
9157,10,44,12.1,26.2,0.0,6.6,5.3,69.0,31.0,37.0,...,0,0,0,0,0,0,0,0,0,0
16665,9,13,24.5,33.0,8.6,5.2,10.6,31.0,11.0,17.0,...,1,0,0,0,0,0,0,0,0,0
10906,9,39,20.4,29.1,0.6,6.6,2.8,56.0,22.0,15.0,...,0,0,0,0,0,0,0,0,0,0
9912,6,7,14.7,22.1,1.8,0.8,2.1,22.0,7.0,9.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7569,10,19,9.1,12.5,0.0,4.4,1.2,41.0,19.0,22.0,...,0,0,1,0,0,0,0,0,0,0
15934,10,3,10.7,28.8,0.0,9.0,12.2,50.0,15.0,17.0,...,0,0,0,0,1,0,0,0,0,0
7642,7,19,12.2,18.6,0.0,4.8,7.3,89.0,44.0,46.0,...,0,1,0,0,0,0,0,0,0,0
14262,8,31,12.4,21.7,0.6,2.6,5.2,48.0,11.0,26.0,...,0,1,0,0,0,0,0,0,0,0
14046,8,32,11.6,20.7,0.0,4.6,3.7,46.0,22.0,20.0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
Target

       Attribute23
13914            0
9157             1
16665            0
10906            0
9912             1
...            ...
7569             1
15934            0
7642             1
14262            1
14046            1

[2450 rows x 1 columns]

## Train Test split

In [17]:
from sklearn.model_selection import train_test_split

data_train,data_test,target_train,target_test = train_test_split(Data, Target,test_size = 0.5)
print('Train Data Shape: ',data_train.shape, '\nTrain target Shape: ',target_train.shape)
print('Test Data Shape: ',data_test.shape, '\nTest target Shape: ',target_test.shape)

Train Data Shape:  (1225, 67)
Train target Shape:  (1225, 1)
Test Data Shape:  (1225, 67)
Test target Shape:  (1225, 1)

## Knn model

In [19]:
from sklearn.neighbors import KNeighborsClassifier

# model the Knn
knn = KNeighborsClassifier(n_neighbors=30)
# knn.fit(data_train, target_train.values.ravel())
knn.fit(Data, Target.values.ravel())

# predict data_test result
print('Test Accurancy:', knn.score(data_test,target_test))
# choose_k_best(knn,Data, Target)
knn_pred = knn.predict(Test)

Test Accurancy: 0.8048979591836735

## Decision Tree

In [20]:
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn import tree

clf = DecisionTreeClassifier()
clf = clf.fit(Data, Target)

print('Test Accurancy:', clf.score(data_test,target_test))
# choose_k_best(clf,Data,Target)
clf_pred = clf.predict(Test)

Test Accurancy: 1.0

## Naive Bayes

In [21]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(Data, Target.values.ravel())

print('Test Accurancy:', gnb.score(data_test,target_test)) 
# choose_k_best(gnb,Data,Target)
gnb_pred = gnb.predict(Test)

Test Accurancy: 0.7159183673469388

## Neural Network models

In [22]:
from sklearn.neural_network import MLPClassifier
# nn = MLPClassifier(activation= 'logistic' ,solver= 'adam' ,alpha= 0.0001 ,learning_rate= 'adaptive' ,learning_rate_init= 0.001,verbose=100 ,max_iter= 500 )
nn = MLPClassifier(solver='adam', activation='logistic',alpha= 0.0001,learning_rate= 'adaptive' , hidden_layer_sizes=(50,50), random_state=1,max_iter=1000,verbose=10,learning_rate_init=0.001)
nn.fit(Data, Target.values.ravel())
nn_pred = nn.predict(Test)
print('Test Accurancy:', nn.score(data_test,target_test))

Iteration 1, loss = 0.70370617
Iteration 2, loss = 0.68717921
Iteration 3, loss = 0.67665421
Iteration 4, loss = 0.66554517
Iteration 5, loss = 0.65402852
Iteration 6, loss = 0.64070590
Iteration 7, loss = 0.62509658
Iteration 8, loss = 0.61157198
Iteration 9, loss = 0.59435835
Iteration 10, loss = 0.58154170
Iteration 11, loss = 0.56636954
Iteration 12, loss = 0.54809557
Iteration 13, loss = 0.53239829
Iteration 14, loss = 0.52112604
Iteration 15, loss = 0.50956971
Iteration 16, loss = 0.50091412
Iteration 17, loss = 0.49480843
Iteration 18, loss = 0.48812904
Iteration 19, loss = 0.48028851
Iteration 20, loss = 0.48484274
Iteration 21, loss = 0.47221281
Iteration 22, loss = 0.46712723
Iteration 23, loss = 0.48326234
Iteration 24, loss = 0.47755350
Iteration 25, loss = 0.46694159
Iteration 26, loss = 0.46405464
Iteration 27, loss = 0.46360812
Iteration 28, loss = 0.45559488
Iteration 29, loss = 0.45723086
Iteration 30, loss = 0.45346663
Iteration 31, loss = 0.45307019
Iteration 32, loss = 0.45212325
Iteration 33, loss = 0.45710833
Iteration 34, loss = 0.45499141
Iteration 35, loss = 0.44717635
Iteration 36, loss = 0.45723414
Iteration 37, loss = 0.45398259
Iteration 38, loss = 0.44508630
Iteration 39, loss = 0.45381451
Iteration 40, loss = 0.44835527
Iteration 41, loss = 0.45335001
Iteration 42, loss = 0.44274215
Iteration 43, loss = 0.45007458
Iteration 44, loss = 0.44885452
Iteration 45, loss = 0.44522977
Iteration 46, loss = 0.44556009
Iteration 47, loss = 0.44110300
Iteration 48, loss = 0.44116229
Iteration 49, loss = 0.44611568
Iteration 50, loss = 0.44947484
Iteration 51, loss = 0.44250798
Iteration 52, loss = 0.43519717
Iteration 53, loss = 0.44161759
Iteration 54, loss = 0.43774968
Iteration 55, loss = 0.44550205
Iteration 56, loss = 0.44580337
Iteration 57, loss = 0.43825668
Iteration 58, loss = 0.44785616
Iteration 59, loss = 0.43643663
Iteration 60, loss = 0.44138678
Iteration 61, loss = 0.43709843
Iteration 62, loss = 0.43002384
Iteration 63, loss = 0.43594216
Iteration 64, loss = 0.43194241
Iteration 65, loss = 0.44036240
Iteration 66, loss = 0.43775683
Iteration 67, loss = 0.44690629
Iteration 68, loss = 0.43378613
Iteration 69, loss = 0.43659521
Iteration 70, loss = 0.44328752
Iteration 71, loss = 0.44741169
Iteration 72, loss = 0.44344010
Iteration 73, loss = 0.43895186
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Test Accurancy: 0.8057142857142857

## 輸出csv

In [23]:
def output_csv(pred,filename):
    df = pd.DataFrame(pred)
    df.index = df.index.astype(float)
    df.to_csv(filename, header = ['ans'], index_label = 'id')a

output_csv(knn_pred, 'knn.csv')
output_csv(clf_pred, 'dictree.csv')
output_csv(gnb_pred, 'gnb.csv')
output_csv(nn_pred, 'nn.csv')